{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    
                <h1 class="hero-message display-4 logo-font text-black">
                    Customer Reviews
                </h1>
                <hr>
                <div class="" id="">
                    {% for review in reviews.all %}
                    <div class="card card-body mb-2">
                        <h5 class="card-title">{{ review.title }}</h5>
                        <p><small class="text-muted">{{ review.rating }} / 5 <i class="fas fa-star"></i></small></p>
                        <p class="card-text">{{ review.body }}</p>
                    </div>
                    {% endfor %}
                </div>
            

{% endblock %}