html {
    height: 100%;
}

.nav-link {
    margin-bottom: 5px;
}

body {
    font-family: 'Kanit', sans-serif;
}

.hero-home {
    background: url('/media/hero.jpeg') no-repeat center center;
    background-size: cover;
    min-height: 750px;
    margin-top: 50px;
}

.hero-home-2 {
    background: url('/media/hero-2.jpg') no-repeat center center;
    background-size: cover;
    min-height: 650px;
}

.hero-home-3 {
    background: url('/media/hero-3.jpg') no-repeat center center;
    background-size: cover;
    min-height: 650px;
}

.split-home {
    background-color: #eaeaea;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 200px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

/* Nav Links */
.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 155px;
    }

    .split-text {
        padding: 15px;
    }
}

@media (max-width: 991px) {
    .hero-message {
       margin-top: 120px;
       font-size: 30px;
    }

    .heading-container {
        display: none;
    }

    .home-responsive {
        margin-top: 55px !important;
    }

    .reverse { 
        display: flex; flex-flow: column-reverse; 
    }

    .btn {
        font-size: 16px;
        min-width: 120px;
    }

    .hero-home {
        min-height: 400px;
        margin-top: 55px;
        background-position-x: 25%; 
    }

    .header-container {
        padding-top: 110px;
    }
}

footer {
    background-color: #000;
    min-height: 100px;
    padding-bottom: 15px;
}

footer h3 {
    margin: 15px;
}

.inline-block {
    display: inline-block
}

.social-links {
    padding: 5px;
    text-align: center;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    margin: 15px;

    color: #000;
    background: #fff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    opacity: 0.8;
}

.footer .copyright {
    font-size: 1.2rem;
    color: #fff;
}