html {
    height: 100%;
}

.fixed-top,
.navbar {
    background-color: #eaeaea !important;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

.nav-link {
    margin-bottom: 5px;
}

body {
    font-family: 'Kanit', sans-serif;
}

.hero-home {
    background: url('/media/hero.jpeg') no-repeat center center;
    background-size: cover;
    min-height: 750px;
}

.hero-home-2 {
    background: url('/media/hero-2.jpg') no-repeat center center;
    background-size: cover;
    min-height: 650px;
}

.hero-home-3 {
    background: url('/media/hero-3.jpg') no-repeat center center;
    background-size: cover;
    min-height: 650px;
}

.split-home {
    background-color: #eaeaea;
}

.card img {
    height: 200px !important;
    -o-object-fit: contain;
    object-fit: contain;
  }
  
  .card-fixed {
    max-height: 400px !important;
  }

  .card2 img {
    height: 300px !important;
    -o-object-fit: contain;
    object-fit: contain;
  }
  
  .card-fixed2 {
    max-height: 400px !important;
  }

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 200px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

/* Nav Links */
.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

/* Toast Messages */
.message-container {
    position: fixed;
    top: 150px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 205px;
    }

    .split-text {
        padding: 15px;
    }
}

@media (max-width: 991px) {
    .hero-message {
       margin-top: 120px;
       font-size: 30px;
    }

    dl,
    ol,
    ul {
        padding: 0 !important;
        margin-left: auto;
        margin-bottom: auto;
    }

    .heading-container {
        display: none;
    }

    .home-responsive {
        margin-top: 55px !important;
    }

    .reverse { 
        display: flex; flex-flow: column-reverse; 
    }

    .btn {
        font-size: 16px;
        min-width: 120px;
    }

    .hero-home {
        min-height: 400px;
        background-position-x: 25%; 
    }

    .header-container {
        padding-top: 140px;
    }
}

.update-link,
.remove-item {
    cursor: pointer;
}

@media (max-width: 500px) {
    .header-container {
        padding-top: 165px;
    }
}

@media (max-width: 320px) {
    .nav-link,
    i {
        font-size: 14px !important;
        padding: 5px;
    }
}

footer {
    background-color: #000;
    min-height: 100px;
    padding-bottom: 15px;
}

footer h3 {
    margin: 15px;
}

.inline-block {
    display: inline-block
}

.social-links {
    padding: 5px;
    text-align: center;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    margin: 15px;

    color: #000;
    background: #fff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    opacity: 0.8;
}

.footer .copyright {
    font-size: 1.2rem;
    color: #fff;
}