{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

<!-- 404 page not found error -->
<div class="container">
    <div class="row">
        <div class="col s12">
            <h2 class="center-align">404......Oops!</h2>
            <h3 class="center-align">Sorry This Page Doesn't Exist!</h3>
        </div>
        <div class="col s12 center-align">
            <img src="{% static 'images/hooplife-logo3.png' %}" height="50" alt="HoopLife logo">
        </div>
        <!-- Return user to home -->
        <div class="col s12 center-align">
            <a href="{{ {% url 'home' %} }}" class="buttons btn-large Black text-shadow">Home <i
                    class="fas fa-home" aria-hidden="true"></i></a>
        </div>
    </div>
</div>

{% endblock %}